:root{
    --text: #FF5B50;
    --background: #000;
    --text-gray: #5A5757;
    --background-gray: #252525;
    --white: #FFF;
}   
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
    html{
        scroll-behavior: smooth;
        overflow-x: hidden;

        body{
            -webkit-font-smoothing: antialiased;
            font-family: 'Inter', sans-serif;
            text-decoration: none;
            background-color: var(--background);
            background-image: url('../src/assets/background.png');
            background-attachment: fixed;
            background-position: center;
                }
}